/* GENERAL STYLES */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: bisque;
}
p {
    font-family: "Helvetica Neue", Arial, sans-serif;
    padding: 10px;
    margin-left: 15px;
    max-width: 85%;
    background-color: #f1ede6;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
h2 {
    font-family: "Helvetica Neue", Arial, sans-serif;
    padding-left: 50px;
    padding-top: 25px;
}

/* DROP DOWN STYLES */
details {
    font-family: "Helvetica Neue", Arial, sans-serif;
    padding-left: 60px;
    padding-block: 10px;
}
summary {
    font-family: "Helvetica Neue", Arial, sans-serif;
    cursor: pointer;
}

/* CONTAINER STYLES */
.content-container {
    width: 8.5in;
    background-color: floralwhite;
    border-radius: 10px;
    padding-bottom: 25px;
}

/* NAVIGATION BAR STYLES */
.navbar {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center; /* vertically center items in the navbar */
    border-bottom: 1px solid black;
    border-radius: 10px;
    background-color: floralwhite;
    width: 8.5in;
    margin-bottom: 10px;
}
/* BUTTON STYLES */
.button-container {
    display: flex;
    justify-content: center;
    gap: 2in;
}
.navbar-button {
    text-align: center;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: large;
    /*font-weight: bold;*/
    cursor: pointer;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}